.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #4a04d8;
}

.nav-items {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-size: 0.8em;
}

.nav-item {
  padding: 1em;
  color: #f4f4f4;
  cursor: pointer;
  border-radius: 2px;
  transition: 0.3s;
}

.nav-item:hover {
  background-color: #671adc;
}
