.product {
  width: 20%;
  margin: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
}

.product img:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: 0.5s;
}

.product img {
  width: 20em;
  height: 20em;
  border-radius: 0.5em;
  transition: 0.5s;
}

.product p {
  font-size: 1.2em;
}

.product-info {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
